<!DOCTYPE html>

<html>

<head>
  <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
      {{>header}}
      <embed src="/pdf/Resume_MargauxHaffner.pdf" type="application/pdf" width="100%" height="600px" />
    </div>

  {{>footer}}
</body>

</html>